@page "/region-manager"
@using PokerVisionAI.Domain.Dtos
@using PokerVisionAI.Features.Regions
@using PokerVisionAI.Features.Regions.Create
@using PokerVisionAI.Features.Regions.Update
@using Radzen
@using Radzen.Blazor

@inject RegionUseCases _useCases

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <RadzenCard>
                <h4>Nueva Región</h4>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <RadzenLabel Text="Nombre" />
                        <RadzenTextBox @bind-Value="@newRegion.Name" Class="w-100" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <RadzenLabel Text="Posición X" />
                        <RadzenNumeric @bind-Value="@newRegion.PosX" Class="w-100" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <RadzenLabel Text="Posición Y" />
                        <RadzenNumeric @bind-Value="@newRegion.PosY" Class="w-100" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <RadzenLabel Text="Ancho" />
                        <RadzenNumeric @bind-Value="@newRegion.Width" Class="w-100" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <RadzenLabel Text="Alto" />
                        <RadzenNumeric @bind-Value="@newRegion.Height" Class="w-100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 mb-3">
                        <RadzenCheckBox @bind-Value="@newRegion.IsHash" />
                        <RadzenLabel Text="Es Hash" Component="IsHash" Style="margin-left: 8px;" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <RadzenCheckBox @bind-Value="@newRegion.IsColor" />
                        <RadzenLabel Text="Es Color" Component="IsColor" Style="margin-left: 8px;" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <RadzenCheckBox @bind-Value="@newRegion.IsBoard" />
                        <RadzenLabel Text="Es Tablero" Component="IsBoard" Style="margin-left: 8px;" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <RadzenLabel Text="Color" />
                        <div class="d-flex">
                            <RadzenTextBox @bind-Value="@colorHex" 
                                         Change="@OnColorHexChange"
                                         Class="me-2" 
                                         Style="width: 120px;"
                                         Placeholder="#FFFFFF" />
                            <RadzenColorPicker @bind-Value="@newRegion.Color" 
                                             ShowHSV="false" 
                                             ShowRGBA="false" 
                                             ShowColors="true"
                                             Change="@OnColorPickerChange" />
                        </div>
                    </div>
                    <div class="col-md-2 mb-3 text-end">
                        <RadzenButton Click="@AddRegion" 
                                    Text="Agregar Región" 
                                    ButtonStyle="ButtonStyle.Primary"
                                    Class="mt-4" />
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>

    <RadzenDataGrid Data="@regions" 
                    TItem="RegionDTO" 
                    GridLines="Radzen.DataGridGridLines.Both"
                    Count="@Count"
                    AllowFiltering="true" 
                    AllowColumnResize="true" 
                    AllowSorting="true" 
                    AllowPaging="true" 
                    PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="RegionDTO" Property="Name" Title="Nombre" Width="200px" />
            <RadzenDataGridColumn TItem="RegionDTO" Property="PosX" Title="Pos X" Width="150px" />
            <RadzenDataGridColumn TItem="RegionDTO" Property="PosY" Title="Pos Y" Width="150px" />
            <RadzenDataGridColumn TItem="RegionDTO" Property="Width" Title="Ancho" Width="150px" />
            <RadzenDataGridColumn TItem="RegionDTO" Property="Height" Title="Alto" Width="150px" />
            <RadzenDataGridColumn TItem="RegionDTO" Property="IsHash" Title="Es Hash" Width="150px" >
                <Template Context="data">
                    <RadzenCheckBox Value="@data.IsHash" Disabled="true" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RegionDTO" Property="IsColor" Title="Es Color" Width="150px">
                <Template Context="data">
                    <RadzenCheckBox Value="@data.IsColor" Disabled="true" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RegionDTO" Property="IsBoard" Title="Es Tablero" Width="150px">
                <Template Context="data">
                    <RadzenCheckBox Value="@data.IsBoard" Disabled="true" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RegionDTO" Property="Color" Title="Color" Width="150px">
                <Template Context="data">
                    @if (!string.IsNullOrEmpty(data.Color))
                    {
                        <div class="d-flex align-items-center">
                            <div style="width: 24px; height: 24px; background-color: @data.Color; border: 1px solid #ccc;" class="me-2"></div>
                            <span>@data.Color</span>
                        </div>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RegionDTO" Context="region" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                <Template Context="region">
                    <RadzenButton ButtonStyle="ButtonStyle.Base"
                                  Icon="edit"
                                  Size="ButtonSize.Small"
                                  Click="@(() => UpdateRegion(region))" />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" 
                                Icon="delete" 
                                Size="ButtonSize.Small"
                                Click="@(() => DeleteRegion(region))" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>